/* Reset Line */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: skyblue;
  height: 100lvh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
  height: 200px;
  width: 600px;
  margin-right: 1.8rem;
}

.container {
  margin-top: 2rem;
  margin-left: 2rem;
  height: 200px;
  width: 600px;
  background-color: #c0c0c0;
  border: 3px solid #40403e;
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-radius: 5px;
  overflow: hidden;
}

.window {
  border: 1px solid white;
  height: 200px;
  width: 600px;
  border-radius: 5px;
}

.panel {
  background-color: #c0c0c0;

  margin: 0;
  padding: 0;
  height: 150px;
  width: 600px;
  border-radius: 0 0 5px 5px;
}

h1 {
  color: #ffffff;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  background: rgb(12, 36, 104);
  background: linear-gradient(
    90deg,
    rgba(12, 36, 104, 1) 0%,
    rgba(171, 205, 242, 1) 100%
  );
}

.body {
  padding: 1rem;
}

.text-content {
  padding: 1rem 0;
}

.error {
  width: 5rem;
  height: 5rem;
  padding: 1rem 0 0 1rem;
  vertical-align: middle;
  /* box-shadow: 0.125rem 0.125rem 0.125rem #878787; */
  border-radius: 50%;
  image-rendering: pixelated;
  margin-right: 1rem;
}

p {
  display: inline-block;
  vertical-align: top;
  margin-top: 2.3rem;
  padding-right: 1.2rem;
  font-size: 1.2rem;
}

button {
  margin-right: 2rem;
  margin-bottom: 1rem;

  float: right;
  background-color: #c0c0c0;
  font-weight: 500;

  box-shadow: 3px 3px 0 black;
  font-size: 1.2rem;
  padding: 0.25rem 0.5rem;
  border: 2px solid #40403e;
  border-top: 2px solid white;
  border-left: 2px solid white;
}
