/* Reset Line */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("images/blue-ocean.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  height: 200px;
  width: 600px;
  margin-right: 1.8rem;
}

.container {
  margin-top: 2rem;
  /* border: 1px solid red; */
  height: 200px;
  width: 600px;
  margin-left: 2rem;
}

.window {
  /* background-color: #3c5690; */
  /* border: 1px solid white; */
  height: 200px;
  width: 600px;
  border-radius: 5px;
  /* border: 5px solid red; */
  /* border-radius: 30px; */
}

.panel {
  background-color: #c0c0c0;
  /* border: 10px solid orange; */
  margin: 0;
  padding: 0;
  height: 150px;
  width: 600px;
  border-radius: 0 0 5px 5px;
}

h1 {
  color: #ffffff;
  font-size: 1rem;
  padding: 0.3rem 0.3rem 0.3rem 1rem;
  background-color: #3c5690;
  /* border: 5px solid red; */
  border-radius: 5px 5px 0 0;
}

.border {
  border: 1px solid black;
}

.error {
  width: 80px;
  height: 80px;
  padding: 1rem 0 0 1rem;
  /* box-shadow: 2px 2px 2px black; */
}

p {
  display: inline-block;
  vertical-align: top;
  margin-top: 2.3rem;
  padding-right: 1.2rem;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  margin-right: 2rem;
  height: 40px;
  width: 90px;
  float: right;
  border: 2px solid black;
  background-color: #c0c0c0;
  color: black;
  box-shadow: 3px 3px 0 black;
  font-size: 1.2rem;
  border: 2px solid white;
}
